body {
    font-family: Arial, sans-serif;
    font-size: large;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    padding: 0;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 0.5em 0;
}

section {
    padding: 20px;
}

.product {
    margin-bottom: 20px;
}

.product img {
    width: 100%;
    max-width: 400px; 
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label, input, textarea {
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
}

button:hover {
    background-color: #45a049;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    display: inline;
    margin: 0 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}